<p>viewservice works!</p>
<p>viewservice works!</p>
<h1>Service description:</h1>
<table>
    <tr>
        <td>Seniors username</td>
        <td>{{seniorUsername}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{description}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{address}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{price}}</td>
    </tr>
    <tr>
        <td>Name of the service</td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td>Helpers username</td>
        <td>{{helperUsername}}</td>
    </tr>
</table>
