<p>REGISTRATION</p>
<br><br>
<form>


    Firstname: <input type="text" [(ngModel)]="firstname" name="firstname" required>
    <br>
    Lastname: <input type="text" [(ngModel)]="lastname" name="lastname" required>
    <br>
    Username: <input type="text" [(ngModel)]="username" name="username" required>
    <br>
    Password: <input type="password" [(ngModel)]="password" name="password" required>
    <br>
    Address: <input type="text" [(ngModel)]="address" name="address" required>
    <br>
    Mail: <input type="text" [(ngModel)]="mail" name="mail" required>
    <br>
    Type: 
    <select [(ngModel)]="type" name="type">
        <option value="senior" selected>Senior</option>
        <option value="helper">Helper</option>
    </select>

    @if(type=="senior"){
    <br>
        Subscription:
    <select [(ngModel)]="subscription" name="subscription">
        <option value="yearly" selected>Yearly</option>
        <option value="monthly">Monthly</option>
    </select>

    }

    <br><br>
    <p style="color: red;">{{message}}</p>
    <button (click)="register()">SIGN UP</button>

</form>